*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family:sans-serif;
    
}

/* nav start */
div,section, span, ul, li, a, header{
    box-sizing: border-box;
}
a.brand {
    font-size: 1.5em;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 30px;
    margin: 0px 0px;
    align-items: center;
    background-color: azure;
    font-weight: bold;
    position: fixed;
    z-index: 10;
    opacity: .8;
}
a>span {
    background-color: #eaacbb;
    border-radius: 20px;
    padding: 2px 10px;
}
#menu li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}
#menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
#menu li a i{
    color:gray;
}
a {
    text-decoration: none;
}
.hamburger {
    
    background-color: darkslateblue;
    border: 0;
    border-radius: 3px;
    display: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.fas {
    color: aliceblue;
    font-size: 2em;
}

/* nav end */

/* body start*/
section {
    width: 100%;
    height: 100vh;
    float : left;
    position: relative;
}
h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#home {
    background-color:#355070;
}
#product { 
    background-color:#6d597a;  
}
#price{
    background-color:#b56576;
}
#contact{
    background-color:#e56b6f;
}
#about {
    background-color:#eaacbb;
}

/* body end */